.centered
{
    text-align: center;
    display: flex;    
    justify-content: center;
    margin: 10px;
    align-items: center;
}

header img
{
    margin: 10px;
}

.alert
{
    --bs-alert-padding-y: 0.5rem;
}

div > p
{
    display: inline;
}

