
span.decisionhover
{
    font-weight:bold;
    border:thin solid white;
    margin:5px;
    background-color:#00ffea;
}

span
{
    margin: 10px;
}

header {
    text-align: center;
    display: flex;    
    justify-content: center;
}

header > img
{
    margin: 10px;
}